.calendarwidget_date_picker_warpper{width:399px;height:403px;overflow:hidden;background-color:white;font-family:Arial;border:1px solid silver;-webkit-user-select:none;-moz-user-select:none;user-select:none}
.calendarwidget_date_picker_header{display:inline-block;width:399px;height:65px;font-size:0;position:relative}
.calendarwidget_date_picker_header span,.calendarwidget_date_picker_header a{display:inline-block;height:65px;line-height:65px}
.calendarwidget_date_picker_header .calendarwidget_prev_date_btn,.calendarwidget_next_date_btn{font-size:30px;width:40px;text-align:center;color:#3a76b1;padding-left:10px;padding-right:10px;text-decoration: none;cursor:pointer}
.calendarwidget_prev_date_btn_2,.calendarwidget_next_date_btn_2{fill:#3a76b1;cursor:pointer}
.calendarwidget_date_picker_header .calendarwidget_prev_date_btn{position:absolute;left:0px;top:0px}
.calendarwidget_date_picker_header .calendarwidget_next_date_btn{position:absolute;right:0px;top:0px}
.calendarwidget_date_title{display:inline-block;width:399px;font-size:20px;font-weight:bold;color:black;text-align:center}
.calendarwidget_date_picker_body{display:inline-block;width:399px}
.calendarwidget_date_picker_table{display:inline-block;border-spacing:0;border-collapse:collapse;background-color:#f9f9fb}
.calendarwidget_date_picker_table tr{height:56px}
.calendarwidget_date_picker_table tr th{height:56px;color:black;line-height:40px;text-align:center;font-size:14px;background-color:#E7E9ED;text-transform:uppercase}
.calendarwidget_date_picker_table tr td{width:56px;height:40px;color:black;line-height:40px;font-size:14px;text-align:center;background-color:white}
.calendarwidget_date_picker_table tr .calendarwidget_gray{color:#f9f9fb;background-color:#f9f9fb}
.calendarwidget_date_picker_table tr .calendarwidget_normal{color:black}
.calendarwidget_date_picker_table tr .calendarwidget_current{background:#3a76b1;color:white}